// ../../../assets/styles/_vars
@import "../../../assets/styles/vars";

.make-transfer-container{
    position: relative;
    background-color: white;
    height: calc(100vh - 180px);
    border-radius: 10px;
    // overflow: auto;
    .acc-fields{
        display: flex;
        flex-direction: column;
        padding: 10px;
        overflow: auto;
        max-height: calc(100vh - 295px);
        .input-container {
            margin-top: 8px;
            font-weight: 700;
            font-family: sans-serif;
            font-size: 12px;
            .form-input{
                width: 100%;
            }
        }
    }
    .make-transfer-header{
        padding: 0 12px;
        height: 42px;
        background-color: $primary-blue;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: flex;
        align-items: center;
        .icon-container{
            height: 10px;
            width: 10px;
        }
        .header-text{
            color: $white;
        }
    }
    .bottom-container{
        bottom: 15px;
        position: absolute;
        right: 10px;
      
    }
    
}
input[type="text"] {
    -webkit-box-sizing: border-box; // Safari/Chrome, other WebKit
    -moz-box-sizing: border-box;    // Firefox, other Gecko
    box-sizing: border-box;         // Opera/IE 8+
    border: 1px solid $lightgray;
    height: 24px;
    border-radius: 3px;
}

input[type="button"] {
    background-color: $chocolate;
    color: $white;
    border: $oldlace;
    height: 28px;
    // width: 65px;
    border-radius: 5px;
}

.list-month{
    font-family: sans-serif;
    font-size: 12px
}
.list-content-header{
    font-family: sans-serif;
    font-size: 14px
}
.list-content-bottom{
    font-family: sans-serif;
    font-size: 9px;
    color: $lightgray;
    margin-top: 4px;
}
.content-details{
    margin-left: 15px;display: flex;flex-direction: column;
}
.transaction-list{
    height: 55px;
    width: 100%;
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    border-left: 5px solid $tomato;
}
.amount{
    font-family: sans-serif;
    font-size: 14px;
    color: $tomato;
}
.border-line{
    border-bottom: solid 1px $border-gray;
    margin-top: 10px;
}

.first-header{
    color: $white;
    font-weight: bold;
    font-family: sans-serif;
}
.second-header{
    color: $white;
    font-family: sans-serif;
    margin:  0 5px;
}

.app-filter{
    padding: 8px 15px;
}