<div class="pop-up-container"
   > 
   <div >
    <div class="pop-up-header">
      <div class="dialog-title"> <b> Review </b>  Transfer</div>
      <div class="dialog-close" (click)="triggerSubmit(false)">
        <fa-icon [icon]="faTimes"></fa-icon>
      </div>
    </div>
    <div class="content-container">
      <div class="items"> <i>Are you ready to send out this transfer</i> </div>
      <div class="items"> <b>It will be send to account</b> </div>
      <div class="items"> {{content.toAccount}} </div>
      <div class="items"> <b>with amount of </b> </div>
      <div class="items"> <b>€ {{content.amount}}</b> </div>
    </div>
    <div class="pop-up-footer">
      <div class="button-cont">
        <button class="btn btn-primary js-trigger-form" 
        (click)="triggerSubmit(false)"
        >Close</button>
      </div>
      <div>      
        <button
        class="btn btn-primary js-trigger-form"
        (click)="triggerSubmit(true)"
        data-test-hook="dialogSubmitButton"
        type="submit">
        Send Transfer
      </button>
    </div>

    </div>
   </div>


   
</div>


